<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-grid-list cols="2" rowHeight="5em">
  <mat-grid-tile>
    <div>
      <!-- <mat-form-field>
        <input matInput [(ngModel)]="searchText" placeholder="Search">
      </mat-form-field> -->
      <input matInput [(ngModel)]="searchText" placeholder="Search">      
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-button-toggle (click)="sort('name')">Sort by Name</mat-button-toggle>
  </mat-grid-tile>
</mat-grid-list>

<!-- <input type="text" [(ngModel)]="searchText" placeholder="Search"> -->
<!-- <mat-button-toggle (click)="sort('name')">Sort by Name</mat-button-toggle> -->

<!-- <button (click)="sort('name')">Sort by Name</button> -->
<!-- <button (click)="sort('ID')"></button> -->
<!-- <button (click)="sort('Description')"></button> -->
<div>
  <h5>Results</h5>

  <mat-card *ngFor="let data of dataList | listSearch: searchText | listSort: {property: column, direction: direction}">
    <mat-card-header>
      <mat-card-title>Device</mat-card-title>
      <mat-card-subtitle>Name: {{ data.name }}</mat-card-subtitle>
      <mat-card-subtitle>Make: {{ data.make }}</mat-card-subtitle>
      <mat-card-subtitle>Model: {{ data.model }}</mat-card-subtitle>
      <mat-card-subtitle>Code: {{ data.code }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Tariff</mat-card-title>
      <mat-card-subtitle>Name: {{ data.tar_name }}</mat-card-subtitle>
      <mat-card-subtitle>Data: {{ data.tar_data }}</mat-card-subtitle>
      <mat-card-subtitle>Minutes: {{ data.tar_minutes }}</mat-card-subtitle>
      <mat-card-subtitle>SMS: {{ data.tar_sms }}</mat-card-subtitle>
      <mat-card-subtitle>Type: {{ data.type }}</mat-card-subtitle>
      <mat-card-subtitle>Code: {{ data.tar_code }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>