<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <input type="text" [(ngModel)]="searchText" placeholder="Search">
</div>
<div>
  <button (click)="sort('name')">Sort by Name</button>
  <!-- <button (click)="sort('ID')"></button> -->
  <!-- <button (click)="sort('Description')"></button> -->
</div>
<div>
  <h5>Results</h5>
  <ul>
    <li *ngFor="let data of dataList | listSearch: searchText | listSort: {property: column, direction: direction}">
      <h2>{{ data.name }}</h2>
    </li>
  </ul>
</div>