<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-grid-list cols="2" rowHeight="5em">
  <mat-grid-tile>
    <div>
      <input matInput [(ngModel)]="searchText" placeholder="Search">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-button-toggle (click)="sort('name')">Sort by Model Name</mat-button-toggle>
    <mat-button-toggle (click)="sort('tar_name')">Sort by Tariff Name</mat-button-toggle>
  </mat-grid-tile>
</mat-grid-list>

<div *ngFor="let data of dataList | listSearch: searchText | listSort: {property: column, direction: direction}">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ data.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ data.tar_name }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="2" rowHeight="15em">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Device</mat-card-title>
            <mat-card-subtitle>Name: {{ data.name }}</mat-card-subtitle>
            <mat-card-subtitle>Make: {{ data.make }}</mat-card-subtitle>
            <mat-card-subtitle>Model: {{ data.model }}</mat-card-subtitle>
            <mat-card-subtitle>Code: {{ data.code }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Tariff</mat-card-title>
            <mat-card-subtitle>Name: {{ data.tar_name }}</mat-card-subtitle>
            <mat-card-subtitle>Data: {{ data.tar_data }}</mat-card-subtitle>
            <mat-card-subtitle>Minutes: {{ data.tar_minutes }}</mat-card-subtitle>
            <mat-card-subtitle>SMS: {{ data.tar_sms }}</mat-card-subtitle>
            <mat-card-subtitle>Type: {{ data.type }}</mat-card-subtitle>
            <mat-card-subtitle>Code: {{ data.tar_code }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</div>